@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #logo {
    width: 50%;
    height: 50%;
    fill: none;
    stroke: #fff !important;
  }

  .st0 {
    stroke-dasharray: 4800;
    animation: animate 8s;
    width: 100%;
    z-index: 999;
    animation-timing-function: cubic-bezier(0.47, 0, 0.75, 0.72);

  }

  .st1 {
    stroke-dasharray: 4800;
    animation: animate 4s;
    width: 100%;
    z-index: 999;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
  }

  @keyframes animate {
    from {
      stroke-dashoffset: 4800;
    }

    to {
      stroke-dashoffset: 0;
    }
  }

  #preloader {
    background-color: #c476872a;
    width: 100%;
    height: 100vh;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  * {
    margin: 0px;
    padding: 0px;
  }

  ::-webkit-scrollbar {
    display: none;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    /* background-color: transparent; */
  }
}

@layer components {
  .text {
    position: absolute;
    text-transform: uppercase;
    font-size: 3rem;
    transition: .2s ease;
    font-family: 'Satisfy', cursive;
  }

  .text1 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 0%, 0 100%);
  }

  .text2 {
    clip-path: polygon(0 100%, 50% 0%, 100% 100%, 100% 100%, 0 100%);
  }

  .box:hover .text1 {
    transform: translateY(-10px);
  }

  .box:hover .text2 {
    transform: translateY(10px);
  }
}